/* fonts start */
@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Gaegu;
  src: url("assets/fonts/Gaegu-Bold.ttf");
  font-weight: 700;
}
/* fonts end */

/* default styles start */
.header,
.main,
.section,
.footer {
  border: 1px solid blue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}
/* default styles end */

/* header styles start */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal {
  position: relative;
  box-sizing: border-box;
  width: 339px;
  padding-top: 15px;
  padding-right: 127px;
}

.personal__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35px;
  color: #3D59BD;
}

.personal__desc {
  margin: 0;
  font-family: Poppins;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

.personal__avatar {
  position: absolute;
  right: 0;
  top: 0;
}

.avatar-personal {
  width: 100px;
  height: 100px;
}

.avatar-personal__img {
  width: 100%;
}

.contacts {
  width: 192px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item-mail {
  background: url("./assets/svg/mail-icon.svg") no-repeat top 3px right;
}

.contacts__item-phone {
  background: url("./assets/svg/phone-icon.svg") no-repeat top 3px right;
}

.contacts__item-linkedin {
  background: url("./assets/svg/linkedin-icon.svg") no-repeat top 3px right;
}

.contacts__item-figma {
  background: url("./assets/svg/figma-icon.svg") no-repeat top 3px right;
}

.contacts__item-github {
  background: url("./assets/svg/github-icon.svg") no-repeat top 3px right;
}

.contacts__item-location {
  background: url("./assets/svg/location-icon.svg") no-repeat top 3px right;
}

.contacts__link {
  display: inline-block;
  width: 100%;
  font-family: Poppins;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:active,
.contacts__link:visited {
  color: #3D59BD;
  text-decoration: underline;
}
/* header styles end */