/* fonts start */
@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url("assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Pacifico;
  src: url("assets/fonts/Pacifico-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Gaegu;
  src: url("assets/fonts/Gaegu-Bold.ttf");
  font-weight: 700;
}
/* fonts end */

/* default styles start */
.header,
.main,
.section,
.footer {
  border: 1px solid blue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
}
/* default styles end */

/* header styles start */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal {
  position: relative;
  box-sizing: border-box;
  width: 339px;
  padding-top: 15px;
  padding-right: 127px;
}

.personal__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: Pacifico;
  font-size: 20px;
  line-height: 35px;
  color: #3D59BD;
}

.personal__desc {
  margin: 0;
  font-family: Poppins;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
}

.personal__avatar {
  position: absolute;
  right: 0;
  top: 0;
}

.avatar-personal {
  width: 100px;
  height: 100px;
}

.avatar-personal__img {
  width: 100%;
}

.contacts {
  width: 192px;
}

.contacts__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts__item-mail {
  background: url("./assets/svg/mail-icon.svg") no-repeat top 3px right;
}

.contacts__item-phone {
  background: url("./assets/svg/phone-icon.svg") no-repeat top 3px right;
}

.contacts__item-linkedin {
  background: url("./assets/svg/linkedin-icon.svg") no-repeat top 3px right;
}

.contacts__item-figma {
  background: url("./assets/svg/figma-icon.svg") no-repeat top 3px right;
}

.contacts__item-github {
  background: url("./assets/svg/github-icon.svg") no-repeat top 3px right;
}

.contacts__item-location {
  background: url("./assets/svg/location-icon.svg") no-repeat top 3px right;
}

.contacts__link {
  display: inline-block;
  width: 100%;
  font-family: Poppins;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}

.contacts__link:hover,
.contacts__link:active,
.contacts__link:visited {
  color: #3D59BD;
  text-decoration: underline;
}
/* header styles end */

.main {
  padding-top: 30px;
}

/* section styles start */
.section {
  margin-bottom: 20px;
}

.section:last-child {
  margin-bottom: 0;
}

.section__title {
  margin: 0;
  font-family: Poppins;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__item {
  margin-bottom: 20px;
}

.section__item:last-child {
  margin-bottom: 0;
}

.item-section__title {
  margin: 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}

.item-section__title--projects {
  font-family: Gaegu;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.item-section__subtitle--projects {
  margin: 0;
  margin-bottom: 4px;
  color: #000000;
}

.item-section__subtitle--projects {
  font-family: Gaegu;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
}

.item-section__location {
  margin: 0;
  font-family: Poppins;
  font-size: 11px;
  line-height: 16px;
  color: #595959;
}

.item-section__period {
  margin: 0;
  font-family: Poppins;
  font-size: 8px;
  line-height: 12px;
  color: #595959;
  text-transform: uppercase;
}

.item-section__desc {
  margin: 0;
  margin-top: 10px;
  font-family: Poppins;
  font-size: 9px;
  line-height: 13px;
  color: #595959;
}

.skills-item-section__title {
  margin: 0;
  margin-top: 4px;
  font-family: Poppins;
  font-size: 8px;
  font-weight: normal;
  line-height: 12px;
  color: #595959;
}

.skills-item-section__list {
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 8px;
}

.skills-item-section__item {
  position: relative;
}

.skills-item-section__item::before {
  content: "";
  position: absolute;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #3D59BD;
  border-radius: 50%;
}

.skills-item-section__text {
  padding-left: 9px;
  font-family: Poppins;
  font-size: 8px;
  line-height: 12px;
  color: #000000;
}

.links-item-section {
  margin-top: 4px;
}

.links-item-section__list {
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 18px;
}

.links-item-section__item--github {
  background: url("./assets/svg/github-link-icon.svg") no-repeat bottom left;
}

.links-item-section__item--figma {
  background: url("./assets/svg/figma-link-icon.svg") no-repeat bottom left;
}

.links-item-section__item--file-text {
  background: url("./assets/svg/file-text-link-icon.svg") no-repeat bottom left;
}

.links-item-section__item--youtube {
  background: url("./assets/svg/youtube-link-icon.svg") no-repeat bottom left;
}

.links-item-section__link {
  padding-left: 18px;
  width: 100%;
  font-family: Poppins;
  font-size: 9px;
  line-height: 13px;
  color: #3D59BD;
}
/* section styles end */